{% extends 'core/base.html' %} 
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
    <div class="container bootstrap snippets bootdey">
        <h1 class="text-dark">Edit Profile</h1>
        <hr>

        <div class="row">
                  <!-- left column -->
                  <div class="col-md-2">
                    <div class="text-center">               
                      <img src="{{ page_user.avatar.url }}" class="avatar rounded float-start img-thumbnail" alt="avatar">
                    </div>
                  </div>
                  
                  <!-- edit form column -->
                  <div class="col-md-9 personal-info">
                    {% if messages %}
                      
                      {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                          <a class="panel-close close" data-dismiss="alert">×</a> 
                          <i class="fa fa-coffee"></i>
                          <strong>{{ massage }}</strong>
                        </div>
                      {% endfor %}

                    {% endif %}
                    
                    <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">

                      {% csrf_token %}

                      {{ form | crispy }}                      
                      
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                        <button type="submit" class="btn btn-primary me-md-2">Change Avatar</button>
                      </div>
                             
                    </form>
                  </div>
              </div>
            </div>
            <hr>
    </div>
{% endblock %}