{% extends 'core/base.html' %}

{% block content %}
        <div class="container">
                <div class="row gx-5">
                        <div class="col my-3">
                                <div class="card my-5" style="width: 18rem;">
                                        {% for x in query %}
                                        <img src="{{ x.image.url }}" class="card-img-top" alt="{{ allmovie.name }}">
                                        <div class="card-body">
                                                <h5 class="card-title">{{ x.name }}</h5>
                                                <p class="card-text">{{ x.description | slice:'50' }}</p>
                                                <a href="{% url 'moviedetails' x.id %}" class="btn btn-dark">Watch Full MOVIE</a>             
                                        </div>
                                        {% endfor %}
                                         
                                </div>
                        </div>
                </div>
        </div>
{% endblock %}