{% extends 'base.html' %}

{% block content %}
        
        <div class="container">
                <div class="row align-items-end">
                        <div class="col-md-8 mt-5 left">
                                <div class="card mt-5" style="width: 18rem;">
                                        <img src="{{ movies.image.url }}" class="card-img-top" alt="{{ movie.name }}">
                                        <div class="card-body">
                                                {% for x in mymovie %}
                                                <h5 class="card-title">{{ x.name }}</h5>
                                                <p class="card-text">{{ x.description }}</p>
                                                <a href="#" class="btn btn-dark">Watch Full MOVIE</a>
                                                {% endfor %}
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
{% endblock %}